.Hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.Hero .text {
    grid-area: text;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hero .text div {

} */

.Hero .imageContainer {
    grid-area: image;
    text-align: center;
}

.Hero img {
    max-width: 500px;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.Hero--imgAlignLeft {
    grid-template-areas:
    "image text";
}

.Hero--imgAlignRight {
    grid-template-areas:
    "text image";
}